extends layout

block header
  header.header--main#js-header--main
    .header--main-stats
      .container
        img(src="assets/img/thibautremy.jpg", alt="Thibaut REMY photo").header--main-stats-img
        h1.header--main-stats-title Thibaut REMY
          small Front-end Developer
    nav.header--main-nav
      a(href="/").header--main-link
        img.header--main-me(src="assets/img/thibautremy.jpg", alt="Thibaut REMY photo")
        h1.header--main-title THIBAUT.RE

block body
  .main-container
    .intro#js-intro
      .intro-1 Hi
      .intro-2
        | I'm 
        span#js-carrousel-intro.intro-carrousel Thibaut

    .content#js-content
      h2.content-title My projects
        small.content-title-desc Some projects I've been working on

      .projectcards.clearfix
        a.projectcard(href="#")
          .projectcard-imgcontainer
            img(src="assets/img/thumbs/scpwnr.jpg").projectcard-img
            .projectcard-imgoverlay

          .projectcard-content
            header.projectcard-header
              h3.projectcard-title SCPWNR* 
                small.projectcard-subtitle Webapp
            p.projectcard-desc.
              SCPWNR is a Webapp whose purpose is to
              download SoundCloud tracks, lists or artists
              page in a local folder. It was a personnal project
              I did for my own needs.

            h3 Technologies
            p.
              HTML5, CasperJS, KnockoutJS, NodeJS, Express.IO


        a.projectcard(href="#")
          .projectcard-imgcontainer
            img(src="assets/img/thumbs/robot.jpg").projectcard-img
            .projectcard-imgoverlay

          .projectcard-content
            header.projectcard-header
              h3.projectcard-title INTech
                small.projectcard-subtitle Robot
            p.projectcard-desc.
              This was a student project. We had to imagine,
              design and develop an autonomous robot for
              the French Robotic Tournament. The robot had
              to perform several tasks and obtain more
              points than its opponent. Additionaly, it was
              not allowed to bump in its opponent.

            h3 Technologies
            p.
              C++, Python, AVR Microships


        a.projectcard(href="#")
          .projectcard-imgcontainer
            img(src="assets/img/thumbs/domora_web.jpg").projectcard-img
            .projectcard-imgoverlay

          .projectcard-content
            header.projectcard-header
              h3.projectcard-title Domora.com
                small.projectcard-subtitle Website
            p.projectcard-desc.
              The website for my Start-up, Domora.
              We wanted a modern website without the boostrap-like
              aspect.

            h3 Technologies
            p.
              HTML5, LESS, Javascript, Symfony2

        a.projectcard(href="#")
          .projectcard-imgcontainer
            img(src="assets/img/thumbs/thibaut.re.jpg").projectcard-img
            .projectcard-imgoverlay

          .projectcard-content
            header.projectcard-header
              h3.projectcard-title Thibaut.re
                small.projectcard-subtitle Website
            p.projectcard-desc.
              This very website. Its purpose is to display
              my different work, and optionnaly to show a
              demo of each work

            h3 Technologies
            p.
              HTML5, Jade, Stylus, Javascript

      h2.content-title Hire-me
        small.content-title-desc I'm currently available for hire !

      p.
        Just write me your offer at hire-me@thibaut.re

block scripts
  script(src="scripts/carrousel.js", type="text/javascript")
  script(type="text/javascript").
    var carrousel = new Carrousel(document.getElementById('js-carrousel-intro'));
    carrousel.words = [
      "Thibaut",
      "an engineer",
      "a hacker",
      "a designer",
      "an entrepreuneur",
      "an explorer",
      "an artist",
      "a drawer",
      "a UX lover",
      "a musician",
      "a animation maker",
      "a coder",
      "a coffee drinker",
      "a web enthusiast",
      "a ninja",
      "Thibaut"
    ];
    carrousel.options.runOnce = true;
    carrousel.options.initialSpeed = 1000;
    carrousel.options.finalSpeed = 100;

    // Hide the intro, show the header
    var introEnd = function() {
      var header = document.getElementById('js-header--main');
      var intro  = document.getElementById('js-intro');
      var content  = document.getElementById('js-content');
      setTimeout(function() {
        header.className += " is-visible";
        intro.className += " is-ready";
        content.className += " is-ready";
        setTimeout(function() {
          intro.className += " is-hidden";

          content.className += " is-visible";
        }, 500);

      }, 1500);
    };

    carrousel.setFinalCallback(introEnd);
    setTimeout(function() {
      carrousel.run();
    }, 3200);
