extends layout

block header
  a(href="/").header--main-link
    h1.header--main-title THIBAUT.RE

block body
  .main-container
    .intro#js-intro
      .intro-1 Hi
      .intro-2
        | I'm 
        span#js-carrousel-intro.intro-carrousel Thibaut

    .projects#js-projects
      h2 My projects

      a.projectcard(href="#")
        h3.projectcard-title SCPWNR*
        p.projectcard-desc SCPWNR

      a.projectcard(href="#")
        h3.projectcard-title INTech Robot
        p.projectcard-desc.
          A robot for the French Robotic Tournament

      a.projectcard(href="#")
        h3.projectcard-title Lorem ipsum
        p.projectcard-desc Dolore sit amet

block scripts
  script(src="scripts/carrousel.js", type="text/javascript")
  script(type="text/javascript").
    var carrousel = new Carrousel(document.getElementById('js-carrousel-intro'));
    carrousel.words = [
      "Thibaut",
      "an engineer",
      "a hacker",
      "a designer",
      "an entrepreuneur",
      "an explorer",
      "an artist",
      "a drawer",
      "a musician",
      "a coffee drinker",
      "a ninja",
      "a web enthusiast",
      "Thibaut"
    ];
    carrousel.options.runOnce = true;
    carrousel.options.initialSpeed = 1000;
    carrousel.options.finalSpeed = 100;

    // Hide the intro, show the header
    carrousel.setFinalCallback(function() {
      var header = document.getElementById('js-header--main');
      var intro  = document.getElementById('js-intro');
      var projects  = document.getElementById('js-projects');
      setTimeout(function() {
        header.className += " is-visible";
        intro.className += " is-ready";
        projects.className += " is-ready";
        setTimeout(function() {
          intro.className += " is-hidden";
          projects.className += " is-visible";
        }, 500);

      }, 1500);
    });
    setTimeout(function() {
      carrousel.run();
    }, 3200);
