doctype
html
  head
    meta(charset='utf8')
    //base(href="/")
    title T H I B A U T . R E
    link(href="index.css", rel="stylesheet", type="text/css")

  body
    block header

    block body

    footer.footer--main
      block footer

    block scripts
