s-large = 780px
s-medium = 500px
s-small = 380px

m-desktop = '(min-width:'+s-large+')'
m-tablet  = '(min-width:'+s-medium+') and (max-width:'+s-large+')'
m-phablet = '(min-width:'+s-small+') and (max-width:'+s-medium+')'
m-phone   = '(max-width:'+s-small+')'

m-tablet-s  = '(max-width:'+s-large+')'
m-phablet-s = '(max-width:'+s-medium+')'

m-tablet-b = '(min-width:'+s-medium+')'
m-phablet-b = '(min-width:'+s-small+')'