header-height = 50px;

.header--main
  display block
  height header-height
  width 100%
  text-align center
  opacity 0
  background-color #14191B
  border-bottom 1px solid #222
  box-shadow 0 2px 2px rgba(24, 25, 30, 0.72)
  
  &.is-visible
    animation fade-in .5s 0s forwards
  
.header--main-title
  display inline-block
  height header-height
  line-height header-height
  margin auto