.header--main
  width 100%
  opacity 0
  display none
  
  &.is-ready
    display block
    
  &.is-visible
    animation fade-in .5s 0s forwards
    
.header--main-stats
  position fixed
  top 0
  width 100%
  height header-stats-height
  padding 15px
  background-color c-black2
  z-index -1
  
.header--main-stats-me
  display block
  height 110px
  width @height
  margin 0 auto -12px
  border 2px solid c-white
  border-radius 1000px
  box-shadow 0 0 20px alpha(c-white, 0.7)
  transform scale(0)
  transition transform .5s e-bounceout
  
  .header--main.is-visible &
    transform scale(1)

.header--main-stats-title
  letter-spacing 2px

  & small
    display block
    margin-top -7px
    font-size 15px
    letter-spacing 0.5px
    color c-grey3

.stats-wrapper
  width 490px
  margin 0 auto

.stat
  display block
  width 50%
  float left
  list-style none
    
.stat-name
  display inline-block
  margin 2px 0
  
.stat-value
  display inline-block
  margin 0 5px
  font-weight bold
  color c-accent
  font-size 12px
  letter-spacing 0.5px
  text-shadow 0 0 25px alpha(c-accent, 0.6)

.header--main-nav
  position fixed
  top 0
  left 0
  z-index 100
  width 100%
  height header-height
  text-align center
  background-color alpha(c-black2, .95)
  border-bottom 1px solid c-grey
  box-shadow 0 2px 2px c-shadow
  transform translate(0, -150%)
  transition transform .4s
  
  &[data-sticky="true"]
    transform translate(0,0)

.header--main-me
  display inline-block
  height 60px
  width 60px
  border-radius 100px
  margin 3px 10px 0
  vertical-align top
  border 2px solid white
  transition border-color .3s
  
  .header--main-link:hover & 
    border-color c-accent
  
.header--main-link
  color inherit
  text-decoration none
  transition color .3s
  &:hover
    color c-accent

.header--main-title
  display inline-block
  height header-height
  line-height header-height
  margin auto
  letter-spacing 6px