.intro
  margin 200px 0 0
  font-weight 100
  font-size 30px
  text-align center
  letter-spacing 5px
  
.intro-2
  margin-left 170px

.carrousel
  display inline-block
  width 350px
  text-align left