html
  overflow-y scroll

body
  background-color c-black
  color c-white

body, html
  margin 0
  padding 0
  width 100%
  
// Some header heights
header-height = 50px;
header-stats-height = 265px;

.body-wrapper
  position absolute
  width 100%
  background-color c-black
  margin header-stats-height 0 0

.content
  display none
  opacity 0
  width 780px
  margin 0px auto
  padding 40px 0
  
  &.is-ready
    display block

  &.is-visible
    animation fade-in .5s forwards