body
  background-color c-black
  color c-white
  
.body-wrapper
  width 100%
  background-color c-black
  
.content
  display none
  opacity 0
  
  &.is-ready
    display block

  &.is-visible
    animation fade-in .5s forwards