.content-title
  margin 80px 0 40px
  display block
  text-align center
  
.content-title-desc
  display block
  color c-grey2
  font-weight normal
  margin 2px 0 0
  
projectcard-size = 325px
projectcard-padding = 15px

.projectcard
  position relative
  background-color c-black2
  border 1px solid c-grey
  border-radius 4px
  display block
  float left
  width projectcard-size
  height projectcard-size
  margin projectcard-padding
  color inherit
  text-decoration none
  transform translate(0,0)
  overflow hidden
  box-shadow 0 0 5px c-shadow
  transition all .3s
  
  &:hover, &:focus
    border-color c-accent
    
  &:hover
    transform translate(0px, -5px)
    box-shadow 0 10px 20px black
    
.projectcard-content
  position absolute
  padding projectcard-padding
  z-index 30
  text-shadow 0 1px 1px black
  
.projectcard-header
  margin -(projectcard-padding)
  margin-bottom -@margin
  padding -@margin
  background-color rgba(7, 7, 8, 0.62)
  width 100%
  
.projectcard-title
  transition color .3s
  margin 0
  .projectcard:hover &
    color c-accent

.projectcard-subtitle
  color c-grey3
  
  &:before
    content " "
    position relative
    top -3px
    height 3px
    width @height
    border-radius 100px
    background-color c-grey3
    display inline-block
    margin 0 10px


.projectcard-imgcontainer
  position absolute
  display block
  top 0
  left 0
  overflow hidden
  height 1.414*projectcard-size
  width 1.414*projectcard-size
  box-shadow 35px 0 0 #1C2023, 50px 0 0 #212427, 174px 0 0 rgba(34, 37, 41, 0.19)
  transform translate(-70%, -70%) rotate(45deg)
  transition transform .4s, box-shadow .8s
  
  .projectcard:hover &
    transition transform .5s .2s, box-shadow .8s
    transform translate(-14%,-14%) rotate(45deg)
    box-shadow 50px 0 0 #1C2023, 100px 0 0 #212427, 200px 0 0 rgba(34, 37, 41, 0.19)
    
.projectcard-imgoverlay
  position absolute
  display block
  height projectcard-size
  width projectcard-size
  background-color rgba(0,0,0,.8)
  opacity 1
  transition opacity .5s .2s, transform .4s
  transform translate(120%, 20%) rotate(-45deg)
  z-index 20
  
  .projectcard:hover &
    opacity 0.8
    transition opacity .5s .2s, transform .5s .2s
    transform translate(20%, 20%) rotate(-45deg) scale(1.3)
    
.projectcard-img
  position absolute
  display block
  height projectcard-size
  width projectcard-size
  transform translate(120%, 20%) rotate(-45deg)
  transition transform .4s
  z-index 15
  
  .projectcard:hover &
    transition transform .5s .2s
    transform translate(20%, 20%) rotate(-45deg) scale(1.3)
