.projects
  display none
  opacity 0
  
  &.is-ready
    display block

  &.is-visible
    animation fade-in .5s forwards

.projectcard
  background-color c-black2
  border 1px solid c-grey
  border-radius 4px
  display block
  float left
  width 40%
  margin 15px
  padding 15px
  color inherit
  text-decoration none
  
.projectcard-title
  margin 0
  transition color .3s
  
  .projectcard:hover &
    color c-accent
  