doctype
html
  head
    //
     -
     THIS WEBSITE IS OPEN-SOURCE !
     Check it out on http://github.com/thibautre/thibaut.re

    meta(charset='utf8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block title
      title T H I B A U T . R E
    link(href="/index.css", rel="stylesheet", type="text/css")
    link(href="/vendor/fa/css/font-awesome.min.css", rel="stylesheet", type="text/css")

  body
    block header

    block body

    block intro

    block scripts
