.header--main
  width 100%
  opacity 0
  display none
  visibility hidden
  
  &.is-ready
    display block
    
  &.is-visible
    visibility visible
    animation fade-in .5s 0s forwards
    
.header--main-stats
  position fixed
  top 0
  width 100%
  height header-stats-height
  padding 15px
  background-color c-black2
  z-index -1
  transform translate(0, -20%) scale(0.7)
  transition transform .5s e-bounceout
  
  .header--main.is-visible &
    transform translate(0, 0)
  
.header--main-stats-me
  display block
  height 110px
  width @height
  margin 0 auto -12px
  border 2px solid c-white
  border-radius 1000px
  box-shadow 0 0 20px alpha(c-white, 0.7)
  transform scale(0)
  transition transform .5s e-bounceout
  
  .header--main.is-visible &
    transform scale(1)
    
  @media m-phablet-s
    height 70px
    width @height
    margin-bottom -20px

.header--main-stats-title
  letter-spacing 2px

  & small
    display block
    margin-top -7px
    font-size 15px
    letter-spacing 0.5px
    color c-grey3

.stats-wrapper
  width 490px
  margin 0 auto
  padding 0
  
  @media m-phablet-s
    width 100%
    

.stat
  display block
  width 50%
  float left
  list-style none
  
  @media m-phablet-s
    width 100%
    float none
    text-align center
  
    
.stat-name
  display inline-block
  margin 2px 0
  
.stat-value
  display inline-block
  margin 0 5px
  font-weight bold
  color c-accent
  font-size 12px
  letter-spacing 0.5px

.header--main-nav
  position fixed
  top 0
  left 0
  z-index 100
  width 100%
  height 50px
  text-align center
  background-color alpha(c-black2, .95)
  border-bottom 1px solid c-grey
  box-shadow 0 2px 2px c-shadow
  transform translate(0, -150%)
  transition transform .4s
  
  &.is-sticky
    transform translate(0,0)

.header--main-me
  display inline-block
  height 60px
  width 60px
  border-radius 100px
  margin 3px 10px 0
  vertical-align top
  border 2px solid white
  transition border-color .3s
  
  .header--main-link:hover & 
    border-color c-accent
  
.header--main-link
  color inherit
  text-decoration none
  transition color .3s
  &:hover
    color c-accent

.header--main-title
  display inline-block
  line-height 50px
  margin auto
  letter-spacing 6px
  
.header--index
  background-color #D8D8D8
  color c-grey
  box-shadow 0 2px 20px black
  transform translate(0, 20px) rotate(1deg)
  transition .4s ease
  
  .is-visible &
    transform translate(0,0) rotate(0)
  
.header--index-quotes
  position absolute
  left -100px
  top 60px
  fill #AEAEAE
  stroke @fill
  
  path
    stroke-dasharray 97
    stroke-dashoffset 97
    fill-opacity 0
    begin = 2s
    gap = .5s
    
    &:nth-child(1)
      animation svg-dash 1.3s begin ease forwards
      
    &:nth-child(2)
      animation svg-dash 1.3s (begin + gap) ease forwards

    &:nth-child(3)
      animation svg-dash 1.3s (begin + 2 * gap) ease forwards
    
    &:nth-child(4)
      animation svg-dash 1.3s (begin + 3 * gap) ease forwards

  
@keyframes svg-dash {
  from {
    stroke-dashoffset 97
  }
  40% {
    fill-opacity 0
  }
  50% {
    stroke-dashoffset 0
  }
  to {
    fill-opacity 1
    stroke-dashoffset 0
  }
}