html
  overflow-y scroll

body
  background-color c-black
  color c-white

body, html
  margin 0
  padding 0
  width 100%
  
*, *:before, *:after
  box-sizing: border-box
  
// Some header heights
header-height = 50px
header-stats-height = 280px

.body-wrapper
  position absolute
  width 100%
  background-color c-black
  margin header-stats-height 0 0
  box-shadow 0 0 10px c-black
  border-top 1px solid c-grey
  
  display none
  opacity 0
  &.is-ready
    display block

  &.is-visible
    animation fade-in .5s forwards
    
  &.is-finished
    opacity 1
    
  &.body-wrapper--small
    border-top none
    margin-top 0

.content
  width 780px
  margin 0px auto
  padding 40px 0
  
  &.content--text
    background-color c-black2
    padding 90px 40px 40px
  